
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/ontdekken">Ontdekken</a></li>
            <li><a href="/reccomendaties">Reccomendaties</a></li>
            <li><a href="/favorite.ejs">Mijn Favorieten</a></li>
            <li><a href="/account">Mijn Account</a></li>
        </ul>
    </div>
</nav>
