<head>
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="all.css">
</head>


<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="">
                <img class="logo" src="/images/matchcast-logo-1.png" alt="Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/ontdekken">Ontdekken</a></li>
            <li><a href="/reccomendaties">Reccomendaties</a></li>
            <li><a href="/favorite">Mijn Favorieten</a></li>
            <li><a href="/account">Mijn Account</a></li>
        </ul>
    </div>
</nav>
