<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchCast - Vind jouw perfecte podcast</title>
    <link rel="stylesheet" href="account.css">
    <link rel="stylesheet" href="all.css">
</head>
<body>
    <header>
        <%- include('partials/nav') %>
    </header>
    <main>
        <section>
            <h2>Mijn account</h2>
            <article>
                <li><a href="/favorite">Mijn Favorieten</a></li>
                <li><a href="/survey">Doe de test opnieuw</a></li>
                <li>Wachtwoord veranderen</li>
            </article>
            <span class="schijding"></span>
            <h2>Instellingen</h2>
            <article>
                <div class="image-container">
                    <label for="fileInput">
                        <img id="profilePic" class="pfp" src="images/podcast-listener.png" alt="profiel foto">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="white">
                                <path d="M2 21l1.8-6.8 13-13a1 1 0 0 1 1.4 0l3.6 3.6a1 1 0 0 1 0 1.4l-13 13L2 21zm3.3-6.3L4 19l4.3-1.3 9.6-9.6-3-3-9.6 9.6zM19 2l3 3-3-3z"/>
                            </svg>
                        </div>
                    </label>
                    <input type="file" id="fileInput" accept="image/*" style="display: none;">
                </div>
                <p><%= username %></p>
                <form action="/logout" method="POST">
                    <button type="submit" class="logout">Log Out</button>
                </form>                  
            </article>
        </section>
        <section>
            <div class="circle"></div>
            <div class="circleTwo"></div>
        </section>
    </main>
    <script src="/script/frontend.js"></script>
</body>
</html>