<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="explore.css" >
    <link rel="stylesheet" href="all.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="aanwezig">Doe de Test</li>
                <li>Reccomendaties</li>
                <li>Mijn favoriet</li>
                <li>Account</li>
            </ul>
        </nav>
    </header>
   
    
</body>
</html>