<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="explore.css" >
    <link rel="stylesheet" href="all.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="aanwezig">Doe de Test</li>
                <li>Reccomendaties</li>
                <li>Mijn favoriet</li>
                <li>Account</li>
            </ul>
        </nav>
    </header>
    <h1>Wat zijn je intresses</h1>
    <section>
        <article>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Sport_balls.svg/800px-Sport_balls.svg.png">
            <h2>Sports</h2>
        </article>
        <article>
            <img src="https://static.vecteezy.com/system/resources/previews/017/052/179/non_2x/stack-of-books-book-day-free-png.png">
            <h2>Boeken</h2>
        </article>
        <article>
            <img src="https://cdn.pixabay.com/photo/2020/08/23/06/54/cooking-5510047_1280.png">
            <h2>Koken</h2>
        </article>
        <article>
            <img src="https://clipart-library.com/new_gallery/117-1176041_joystick-controller-game-play-png-image-games-console.png">
            <h2>Gamen</h2>
        </article>
        <article>
            <img src="https://static.vecteezy.com/system/resources/previews/001/200/846/non_2x/music-note-png.png">
            <h2>Muziek</h2>
        </article>
        <article>
            <img src="https://static.vecteezy.com/system/resources/previews/015/082/037/non_2x/movie-clapper-board-png.png">
            <h2>Film</h2>
        </article>
        <article>
            <img src="https://cdn-icons-png.flaticon.com/512/2636/2636329.png">
            <h2>Nieuws en politiek</h2>
        </article>
        <article>
            <img src="https://cdn-icons-png.flaticon.com/512/8042/8042802.png">
            <h2>Kunst</h2>
        </article>
        <article>
            <img src="https://png.pngtree.com/png-clipart/20230812/original/pngtree-crime-silhouette-arrest-icon-vector-picture-image_10501018.png">
            <h2>Misdaad</h2>
        </article>
        <article>
            <img src="https://cdn-icons-png.flaticon.com/512/899/899771.png">
            <h2>Geschidenis</h2>
        </article>
        <article>
            <img src="https://cdn-icons-png.flaticon.com/512/3460/3460869.png">
            <h2>Mode</h2>
        </article>
        <article>
            <img src="https://cdn-icons-png.flaticon.com/512/3664/3664392.png">
            <h2>Lifestyle</h2>
        </article>
    </section>
    <button>volgende</button>

    <section>
        <div class="circle"></div>
        <div class="circleTwo"></div>
    </section>
    
</body>
</html>