<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="explore.css" >
    <link rel="stylesheet" href="all.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="aanwezig">Doe de Test</li>
                <li>Reccomendaties</li>
                <li>Mijn favoriet</li>
                <li>Account</li>
            </ul>
        </nav>
    </header>
    <h1>Wat zijn je intresses</h1>
    <section class="eersteVraag">
        <article class="sport">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Sport_balls.svg/800px-Sport_balls.svg.png">
            <h2>Sports</h2>
        </article>
        <article class="boeken">
            <img src="https://static.vecteezy.com/system/resources/previews/017/052/179/non_2x/stack-of-books-book-day-free-png.png">
            <h2>Boeken</h2>
        </article>
        <article class="koken">
            <img src="https://cdn.pixabay.com/photo/2020/08/23/06/54/cooking-5510047_1280.png">
            <h2>Koken</h2>
        </article>
        <article class="gamen">
            <img src="https://clipart-library.com/new_gallery/117-1176041_joystick-controller-game-play-png-image-games-console.png">
            <h2>Gamen</h2>
        </article>
        <article class="muziek">
            <img src="https://static.vecteezy.com/system/resources/previews/001/200/846/non_2x/music-note-png.png">
            <h2>Muziek</h2>
        </article>
        <article class="film">
            <img src="https://png.pngtree.com/png-clipart/20220825/ourmid/pngtree-movie-film-roll-black-and-white-png-image_6123879.png">
            <h2>Film</h2>
        </article>
        <article class="nieuws">
            <img src="https://cdn-icons-png.flaticon.com/512/2636/2636329.png">
            <h2>Nieuws en politiek</h2>
        </article>
        <article class="kunst">
            <img src="https://cdn-icons-png.flaticon.com/512/8042/8042802.png">
            <h2>Kunst</h2>
        </article>
        <article class="misdaad">
            <img src="https://png.pngtree.com/png-clipart/20230812/original/pngtree-crime-silhouette-arrest-icon-vector-picture-image_10501018.png">
            <h2>Misdaad</h2>
        </article>
        <article class="geschiedenis">
            <img src="https://cdn-icons-png.flaticon.com/512/899/899771.png">
            <h2>Geschidenis</h2>
        </article>
        <article class="mode">
            <img src="https://cdn-icons-png.flaticon.com/512/3460/3460869.png">
            <h2>Mode</h2>
        </article>
        <article class="lifestyle">
            <img src="https://cdn-icons-png.flaticon.com/512/3664/3664392.png">
            <h2>Lifestyle</h2>
        </article>
    </section>
    <button class="volgendeButton">volgende</button>
    <section class="tweedeVraag">
        <article class="gamenOpties">
            <h2>Gaming</h2>
            <label><input type="checkbox" name="genre" value="Action"> Action</label>
            <label><input type="checkbox" name="genre" value="Adventure"> Adventure</label>
            <label><input type="checkbox" name="genre" value="Fighting"> Fighting</label>
            <label><input type="checkbox" name="feature" value="Co-op"> Co-op</label>
            <label><input type="checkbox" name="feature" value="Multiplayer"> Multiplayer</label>
            <label><input type="checkbox" name="feature" value="Singleplayer"> Singleplayer</label>
            <label><input type="checkbox" name="feature" value="Story"> Story</label> 
        </article>
        <article class="filmOpties">
            <h2>Film</h2>
            <label><input type="checkbox" name="genre" value="Action"> Action</label>
            <label><input type="checkbox" name="genre" value="Fantasie"> Fantasie</label>
            <label><input type="checkbox" name="genre" value="Horror"> Horror</label>
            <label><input type="checkbox" name="genre" value="Drama"> Drama</label>
            <label><input type="checkbox" name="genre" value="Komedie"> Komedie</label>
            <label><input type="checkbox" name="genre" value="Science Fiction"> Science Fiction</label>
            <label><input type="checkbox" name="genre" value="Romantiek"> Romantiek</label>

        </article>
        <article class="muziekOpties">
            <h2>Muziek</h2>
            <label><input type="checkbox" name="genre" value="Jazz"> Jazz</label>
<label><input type="checkbox" name="genre" value="Hip-hop"> Hip-hop</label>
<label><input type="checkbox" name="genre" value="Rock"> Rock</label>
<label><input type="checkbox" name="genre" value="R&B"> R&B</label>
<label><input type="checkbox" name="genre" value="Soul"> Soul</label>
<label><input type="checkbox" name="genre" value="Sing"> Sing</label>
<label><input type="checkbox" name="genre" value="K-Pop"> K-Pop</label>
        </article>
        <article class="sportOpties">
            <h2>Sport</h2>
            <label><input type="checkbox" name="sport" value="Basketbal"> Basketbal</label>
<label><input type="checkbox" name="sport" value="Voetbal"> Voetbal</label>
<label><input type="checkbox" name="sport" value="Hockey"> Hockey</label>
<label><input type="checkbox" name="sport" value="Rugby"> Rugby</label>
<label><input type="checkbox" name="sport" value="Tennis"> Tennis</label>
<label><input type="checkbox" name="sport" value="Atletiek"> Atletiek</label>
<label><input type="checkbox" name="sport" value="Vechtsport"> Vechtsport</label>
        </article>
        <article class="boekenOpties">
            <h2>Boeken</h2>
            <label><input type="checkbox" name="boekengenre" value="Fictie"> Fictie</label>
<label><input type="checkbox" name="boekengenre" value="Fantasy & Sciencefiction"> Fantasy & Sciencefiction</label>
<label><input type="checkbox" name="boekengenre" value="Thriller & Misdaad"> Thriller & Misdaad</label>
<label><input type="checkbox" name="boekengenre" value="Zelfhulp & Persoonlijke ontwikkeling"> Zelfhulp & Persoonlijke ontwikkeling</label>
<label><input type="checkbox" name="boekengenre" value="Biografieën & Memoires"> Biografieën & Memoires</label>
<label><input type="checkbox" name="boekengenre" value="Young Adult"> Young Adult</label>
<label><input type="checkbox" name="boekengenre" value="Spiritueel, Religie & Filosofie"> Spiritueel, Religie & Filosofie</label>

        </article>
        <article class="kokenOpties">
            <h2>Koken</h2>
            <label><input type="checkbox" name="kookgenre" value="Gezonde voeding & dieet"> Gezonde voeding & dieet</label>
<label><input type="checkbox" name="kookgenre" value="Bakken & Patisserie"> Bakken & Patisserie</label>
<label><input type="checkbox" name="kookgenre" value="Wereldkeuken"> Wereldkeuken</label>
<label><input type="checkbox" name="kookgenre" value="BBQ & Grillen"> BBQ & Grillen</label>
<label><input type="checkbox" name="kookgenre" value="Meal Prepping & Budgetkoken"> Meal Prepping & Budgetkoken</label>

        </article>
        <article class="nieuwsOpties">
            <h2>Nieuws en politiek</h2>
            <label><input type="checkbox" name="politiek" value="Internationale Politiek & Geopolitiek"> Internationale Politiek & Geopolitiek</label>
            <label><input type="checkbox" name="politiek" value="Geschiedenis & Politieke Biografieën"> Geschiedenis & Politieke Biografieën</label>
            <label><input type="checkbox" name="politiek" value="Maatschappelijke Vraagstukken & Activisme"> Maatschappelijke Vraagstukken & Activisme</label>
            <label><input type="checkbox" name="politiek" value="Economische Politiek & Kapitalisme"> Economische Politiek & Kapitalisme</label>
            <label><input type="checkbox" name="politiek" value="Media & Journalistiek"> Media & Journalistiek</label>
            <label><input type="checkbox" name="politiek" value="Binnenlandse Politiek & Overheid"> Binnenlandse Politiek & Overheid</label>
            <label><input type="checkbox" name="politiek" value="Conspiracy & Alternatieve Politiek"> Conspiracy & Alternatieve Politiek</label>

        </article>
        <article class="kunstOpties">
            <h2>Kunst</h2>
            <label><input type="checkbox" name="kunst" value="Kunstgeschiedenis"> Kunstgeschiedenis</label>
            <label><input type="checkbox" name="kunst" value="Schilderkunst & Tekenkunst"> Schilderkunst & Tekenkunst</label>
            <label><input type="checkbox" name="kunst" value="Fotografie"> Fotografie</label>
            <label><input type="checkbox" name="kunst" value="Architectuur & Design"> Architectuur & Design</label>
            <label><input type="checkbox" name="kunst" value="Moderne & Hedendaagse Kunst"> Moderne & Hedendaagse Kunst</label>
            <label><input type="checkbox" name="kunst" value="Beeldhouwkunst & Installaties"> Beeldhouwkunst & Installaties</label>
            <label><input type="checkbox" name="kunst" value="Street Art & Graffiti"> Street Art & Graffiti</label>
            
        </article>
        <article class="misdaadOpties">
            <h2>Misdaad</h2>
            <button>Detective & Politieromans</button>
            <button>True Crime</button>
            <button>Psychologische Thrillers</button>
            <button>Maffia & Georganiseerde Misdaad</button>
            <button>Forensische Misdaadverhalen</button>
            <button>Juridische Thrillers</button>
            <button>Spionage & Politieke Intriges</button>
        </article>
        <article class="geschiedenisOpties">
            <h2>Geschiedenis</h2>
            <button>Oude Beschavingen</button>
            <button>Middeleeuwen & Ridders</button>
            <button>Wereldoorlogen</button>
            <button>Koloniale Geschiedenis & Slavery</button>
            <button>Moderne Geschiedenis & Koude Oorlog</button>
            <button>Historische Biografieën</button>
            <button>Archeologie & Lost Civilizations</button>
        </article>
        <article class="lifestyleOpties">
            <h2>Lifestyle</h2>
            <button>Urban lifestyle </button>
            <button>Spirituele levensstijl</button>
            <button>Digitale nomaden levensstijl</button>
            <button>Luxueuze levensstijl</button>
            <button>Duurzame levensstijl</button>
            <button>Minimalistische levensstijl</button>
            <button>Gezonde levensstijl</button>
        </article>
        <article class="modeOpties">
            <h2>Mode</h2>
            <button>Casual</button>
            <button>Streetwear</button>
            <button>Chic</button>
            <button>Bohemian (Boho)</button>
            <button>Preppy</button>
            <button>Punk/Rock</button>
            <button>Avant-garde</button>
        </article>
    </section>

    <section>
        <div class="circle"></div>
        <div class="circleTwo"></div>
    </section>
    
</body>
</html>