<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchCast - Vind jouw perfecte podcast</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/all.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                
            </ul>
        </nav>

        <div class="navLine"></div>
    </header>

    <main>
        <section>
            <h2>Vind de perfecte podcast, voor jou.</h2>
            <p>Wij zijn MatchCast, een website om jouw perfecte podcast te vinden op basis van jouw intresses. 
            Vul de vragenlijst in en laat ons de perfecte podcast voor jou vinden!</p>
        </section>

        <img src="/images/microphone.png" alt="">
        <img src="/images/microphone.png" alt="">

        <section>
            <div class="circle"></div>
            <div class="circleTwo"></div>
        </section>
        
        <div>
            <a href="/signup.ejs">Register</a>
            <a href="/login.ejs">Login</a>
        </div>
    </main>

    <footer>
        <script src="index.js"></script>
    </footer>
</body>
</html>