<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Screen</title>
    <link rel="stylesheet" href="loadingscreen.css">
    <link rel="stylesheet" href="all.css">
</head>
<body>
    <main>
        <div class="loading-screen">
            <div class="spinner"></div>
            <p>Loading...</p>
        </div>
    </main>
    <script src="/script/frontend.js"></script>
</body>
</html>