<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchCast Login</title>
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="/all.css">
</head>
<body>
    <header>

    </header>

    <main>
        <form action="/login" method="POST">
            <div class="shadowForm">
                <img src="/images/podcast-listener.png" alt="">
                <fieldset>
                    <section>
                        <legend>Welkom, login</legend>

                        <div>
                            <label for="naam">Gebruikersnaam:</label>
                            <input type="text" name="gebruikersnaam" id="naam">
                        </div>

                        <div>
                            <label for="wachtwoord">Wachtwoord:</label>
                            <input type="password" name="password" id="wachtwoord">
                            <span class="toggle-password">👁️</span>
                        </div>
                    </section>

                    <div class="rememberMe">
                        <label>
                            <input type="checkbox" name="remember" id="remember"> Onthoud mijn gegevens
                        </label>
                    </div>
                    
                    <p>Wachtwoord <a href="">vergeten?</a></p>
                    <p>Nog geen account? <a href="">Register</a></p>
                    <button>Login</button>
                </fieldset>
            </div>
        </form>

        <section>
            <div class="circle"></div>
            <div class="circleTwo"></div>
        </section>


    </main>

    <footer>
        <script src="index.js"></script>
        
    </footer>
</body>
</html>