<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchCast Login</title>
    <link rel="stylesheet" href="/result.css">
    <link rel="stylesheet" href="/all.css">
</head>
<body>
    <header>
        <%- include('partials/nav') %>
    </header>

    <main>
        <div>
            <section>
                <p><span>We recommend:</span></p>
                <h2>Conan O'brien Needs a friend (Placeholder)</h2>
                <p><span>Spotify description:</span>This podcast features comedian conan O'brien having relaxed
                and humorous conversations with celebrities and friends, offering short and enjoyable episodes.</p>
            </section>

            <section>
                <h3>Why you might like it</h3>
                <p>AI Uitleg waarom deze podcast wordt aangeraden. Met een mooi tekstje etc. Verder weet ik niet 
                precies wat ik hier nog meer over kan zeggen, maar het moet in in ieder geval een leuke extra 
                toevoeging zijn op het geheel. Ik denk dat deze hoeveelheid tekst wel genoeg moet zijn.</p>
            </section>

            <section>
                <h3>Listen on spotify</h3>
            
            </section>

            <section data-name="Podcast1">
                <img src="images/360_F_418874697_trvAoXSfjetoptCXpR8N8XvO3R5eLtL4.jpg" alt="">
            
                <!-- Container for Like Button & Rating -->
                <div class="like-rating-container">
                    <button class="likeButton">
                        <svg class="likeIcon">
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 6.5 3.5 5 5.5 5c1.54 0 3.04.99 3.57 2.36h1.87C15.46 5.99 16.96 5 18.5 5 20.5 5 22 6.5 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </button>
            
                    <div class="rating-display">
                        <span class="rating-star">★</span>
                        <span class="rating-value">0.0</span> 
                    </div>
                </div>
            </section>
        </div>


        <section>
            <div class="circle"></div>
            <div class="circleTwo"></div>
        </section>


    </main>

    <footer>
        <script src="/static/script/frontend.js"></script>
        
    </footer>
</body>
</html>