<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchCast Signup</title>
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="/all.css">
</head>
<body>
    <main>
        <form action="/signup" method="POST">
            <div class="shadowForm">
                <img src="/images/podcast-listener.png" alt="">
                <fieldset>
                    <section>
                        <legend>Welkom, Register</legend>

                        <div>
                            <label for="naam">Gebruikersnaam:</label>
                            <input type="text" name="username" id="naam" required>
                        </div>
                        <div>
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div>
                            <label for="wachtwoord">Wachtwoord:</label>
                            <input type="password" name="password" id="wachtwoord" required>
                            <span class="toggle-password">👁️</span>
                        </div>
                    </section>

                    <div class="rememberMe">
                        <label>
                            <input type="checkbox" name="remember" id="remember"> Onthoud mijn gegevens
                        </label>
                    </div>
                    
                    <button type="submit">Sign-up</button>
                </fieldset>
            </div>
        </form>

        <section>
            <div class="circle"></div>
            <div class="circleTwo"></div>
        </section>
    </main>
    <script>
        document.querySelector(".toggle-password").addEventListener("click", function () {
            let passwordField = document.getElementById("wachtwoord");
            passwordField.type = passwordField.type === "password" ? "text" : "password";
        });
    </script>
</body>
</html>