*{
    padding: 0;
    margin: 0;
}

:root {
    --color-text: #181717;
    --color-textaccent: #ffffff;

    --color-accentcolor: #FFAA00;
    --color-accentcolor-light: hsl(40, 100%, 80%);
    --color-accentTwo: #FF6A00;
    --color-logout: #FF2020;
    --color-formbg: rgb(243, 243, 243);
    --color-dropshadow: black;
    --color-bgBlur: rgba(234, 234, 234, 0.311);
    --color-blurBorder: 1px solid rgba(255, 255, 255, 0.265);
    --effect-blur: blur(20px);
    --effect-boxShadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}



@font-face{
	font-family: 'main-font';
	src: url(/fonts/Renner_\ 400\ Book.ttf);
}

@font-face{
	font-family: 'accent-font';
	src: url(/fonts/MALISON.ttf);
}

*{
    font-family: 'main-font';
}



/* ***********
NAV STYLING
*********** */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em 0em 1em;
    
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 2em;
    width: 2em;
    margin: 1em 0 0 1em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2em;
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    transition: color 0.3s ease;
    margin-right: 2em;
}

.nav-links a:hover {
    color: var(--color-accentTwo);
}


.logo img {
    width: 7em;  /* Adjust the size */
    height: auto;  /* Maintain aspect ratio */
}
