
/* ***********
  achtergrond
*********** */



.circle {
    z-index: -2;
    overflow: hidden;
    position: absolute;
    left: -20em;
    bottom: -25em;
    width: 63em;
    height: 63em;
    background-color: var(--color-accentcolor);
    clip-path: circle(50% at center);
}

.circleTwo {
    z-index: -2;
    overflow: hidden;
    position: absolute;
    right: -10em;
    top: -20em;
    width: 40em;
    height: 40em;
    background-color: var(--color-accentcolor);
    clip-path: circle(50% at center);
}



/* ***********
   explore
*********** */


nav{
    margin-top: 2em;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

.aanwezig{
    color: var(--color-accentTwo);
    
}



body > button{
    background-color: var(--color-accentTwo);
    border: none;
    border-radius: 5em;
    font-size: 2em;
    margin: 1em;
    padding: 0em 0.5em 0em 0.5em;
    cursor: pointer;
    color: var(--color-textaccent);
    position: absolute;
    left: 35em;
    top: 20em;

}

h2{
    font-family: 'main-font';
}

h1{
    margin-left: 5em;
    font-family: 'main-font';
}



/* ***********
  section 1
*********** */


section:first-of-type{
    background-color: var(--color-formbg);
    filter: drop-shadow(0.1em 0.1em 2em var(--color-dropshadow));
    height: 30em;
    width: 60em;
    margin-left: 14em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    overflow: scroll;
    scroll-behavior: smooth;
}

section:first-of-type::-webkit-scrollbar {
    width: 1em;
    background-color: var(--color-textaccent) ; /* or add it to the track */
}

section:first-of-type::-webkit-scrollbar-thumb {
    background: var(--color-accentTwo);
}

section:first-of-type article{
    display: grid;
    place-items: center;
    background-color: var(--color-formbg);
    width: 15em;
    height: 10em;
    padding: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

section:first-of-type article:hover{
    filter: drop-shadow(0.1em 0.1em 2em var(--color-dropshadow));
    transform: scale(1.02);
    transition: ease-in-out 0.3s;
    border: none;
}

section:first-of-type article img{
    width: 7em;
}

/* ***********
  section 2
*********** */


.tweedeVraag{
    background-color: var(--color-formbg);
   
    height: 30em;
    width: 60em;
    margin-left: 14em;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
}

section:nth-of-type(2) article{

    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    overflow: scroll;
    padding-bottom: 1em;
}

section:nth-of-type(2) article h2{
    margin-bottom: 0em;
}

section:nth-of-type(2) article button{
    background-color: var(--color-formbg);
    filter: drop-shadow(0.1em 0.1em 2em var(--color-dropshadow));
    border: none;
    padding: 1em 3em 1em 3em;
}

.gamenOpties{
    display: none;
}
.filmOpties{
    display: none;
}
.muziekOpties{
    display: none;
}
.sportOpties{
    display: none;
}
.boekenOpties{
    display: none;
}
.kokenOpties{
    display: none;
}
.nieuwsOpties{
    display: none;
}
.kunstOpties{
    display: none;
}
.misdaadOpties{
    display: none;
}
.geschiedenisOpties{
    display: none;
}
.lifestyleOpties{
    display: none;
}
.modeOpties{
    display: none;
}
