/* Hide loader by default */
#loadingWrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

/* When loading, show it */
#loadingWrapper.visible {
    display: flex;
}

/* Loading screen itself */
#loadingScreen {
    display: flex; /* Initially visible */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Spinner animation */
#loadingWrapper .spinner {
    width: 3em;
    height: 3em;
    border: .5em solid rgba(255, 255, 255, 0.3);
    border-top: .5em solid var(--color-accentcolor);
    border-radius: 50%;
    animation: spin 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    margin-bottom: .5em;
}

#loadingScreen p{
    color: var(--color-textaccent);
    font-size: 1.5rem
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
