.circle {
    z-index: -2;
    overflow: hidden;
    position: absolute;
    left: -20em;
    bottom: -25em;
    width: 63em;
    height: 63em;
    background-color: var(--color-accentcolor);
    clip-path: circle(50% at center);
}

.circleTwo {
    z-index: -2;
    overflow: hidden;
    position: absolute;
    right: 4em;
    top: -20em;
    width: 40em;
    height: 40em;
    background-color: var(--color-accentcolor);
    clip-path: circle(50% at center);
}